version: '3'

services:
  app:
    build:
      context: .
    ports:
      - '8080:8080'
    volumes:
      - ./app:/app
    command: >
      sh -c 'python manage.py runserver 0:8080'
    # Djangoプロジェクト内で用いるDBの環境変数を.envファイルから読み込む
    environment:
      - DB_HOST=db
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
    # dbが立ち上がってから、appが立ち上がるようにする
    depends_on:
      - db

  db:
    # PostgreSQLの10-alpineを使用
    image: postgres:10-alpine
    # .envファイルに記述した環境変数を用いてPosgreSQLの初期設定を行う
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
