"""
Flake8 is a wrapper around these tools:
- PyFlakes
- pep8
- Ned Batchelder's McCabe script

Flake8 runs all the tools by launching the single flake8 script. 
It displays the warnings in a per-file, merged output.

- PyFlakes -- A simple program which checks Python source files for errors.
- pep8 -- Style Guide for Python Code
"""

[flake8]
; flake8でテストしない物
exclude =
    migrations,
    __pycache__,
    manage.py,
    settings.py